.viewfinder {
    height: calc(100vh - 100px);
    /* margin: 32px; */
    aspect-ratio: 3/4;
    background-color: #000;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

}

.viewfinder img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;

    opacity: 50%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10
}

.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container button {
    height: 50px;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;

}